body { 
  margin: 0; 
  padding: 0;
  height: 100vh;
  font-family: 'Poppins', Arial, sans-serif;
  display: flex;
  justify-content: center;
  background: url("assets/library_background.jpg");
}

main {
  margin: 0 auto 0;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: column;
  width: auto;
}

// CLASSES
.title {
  font-weight: bolder;
  font-size: 144px;
  line-height: 216px;

  text-align: center;
  color: #F9F9F9;
}

.search {
  display: flex;
  margin: 2vh;

  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;

  // border: 1px solid rgb(105, 235, 122);
  
}

.list {
  display: flex;
  // height: 52vh;
  height: calc(70vh - 180px);
  width: 205vh;

  // margin: 0 20vh;
  overflow-x: scroll;
  overflow-y: hidden;

  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}

// -------

.book {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: .9em;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.book .image img {
  margin: 1em 3em;
  justify-content: center;
  border: 1px solid pink;
  height: 20vh;
  // width: 10vh;
}

.book .info {
  margin: 0 2vh;
}

.info > p {
  text-align: center;
}

.info > .date {
  text-align: end;

  font-style: italic;
  font-weight: 100;
}

.info > h1 {
  text-align: center;
  align-self: center;
  font-size: 1.2em;
  color: #1E7254;
}

// ID

.search #search_input {
  width: 100vh;
  padding: 12px 20px;
  margin: 0 auto 1vh;

  background: rgba(255, 255, 255, 0.7);
  border: 2px solid #000000;
  border-radius: 50px;

  font-style: normal;
  font-weight: 100;
  font-size: 24px;
  line-height: 36px;

  color: #000000;

}

.search  #search_button {
  width: 25vh;
  height: 60px;
  align-self: center;

  // mix-blend-mode: saturation;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.55);
  border-radius: 50px;
  border: none;

  background: #8C4536;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;

  color: #F9F9F9;
}

#scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 5px;
}

#scrollbar::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

#scrollbar::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-image: -webkit-gradient(linear,
        left bottom,
        left top,
        color-stop(0.44, rgb(122,153,217)),
        color-stop(0.72, rgb(73,125,189)),
        color-stop(0.86, rgb(28,58,148)
      )
    );
}


