<main class="main-book">
  <div class="title minimum">{{title}}</div>
  <div class="list scrollbar" >

  </div>
  <!-- <div class="book" *ngFor="let book of listBooks">
    <div class="image">
      <img src="{{book.imagePath}}" alt="" srcset="">
    </div>
    <div class="info">
      <p>{{book.Title}}</p>
      <div class="date" *ngIf="book.FullDate;">
        {{book.PublishedDate | date:'MMMM d, y':'GMT'}}
      </div>
      <div class="date" *ngIf="!book.FullDate">{{book.PublishedDate}}</div>
      <h1>{{book.Author}}</h1>
    </div> -->
  <!-- </div> -->
</main>