
.title-minimum {
  position: relative;
  // border: 2px solid #fff;
  height: 15vh;
  display: flex;
}

.title-minimum > h1 {
  // border: 2px solid green;
  color: #F9F9F9;
  font-weight: bolder;
  align-self: center;
  font-size: 3.5em;
}

.title-minimum > .search {
  width: 70vh;
  justify-content: space-between;
  flex-direction: row;
}

.title-minimum > .search > #search_input {
  width: 50vh;
  height: 3.2rem;
}

.title-minimum > .search > #search_button {
  width: 15vh;
  height: 3.2rem;
}

.principal {
  height: calc(80vh - 5px);
  width: 200vh;
}

.content {
  position: relative;
  height: 100%;
  overflow-y: scroll;
  background-color: #fff;
  opacity: 0.95;
}

.list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

.book {
  margin: 2.5em;
  border-radius: 5px;
  border: 2px solid #000;
}

.book > h3 {
  margin: 0px;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 10px 20px;
  background-color: #FDC674;

  color: #090909;
  font-weight: bolder;
  align-self: center;
}

.book > .book-content {
  display: flex;
  flex-direction: row;
  margin: .5em;
}

.book > .book-content > ul {
  margin: 0px;
  padding: 10px;
  list-style: none;
}

.book > .book-content > ul > li  {
  padding: 7px;
  font-size: 1.2rem;
} 

.book > .book-content > ul > li > .date {
  text-align: end;
  margin: .5em;
  font-style: italic;
  font-weight: 100;
}

.book > .book-content > ul > li > .author {
  text-align: end;

  font-style: italic;
  font-weight: 100;
  font-size: 2em;
}

.book > .book-content > img {
  margin: 1em 3em;
  justify-content: center;
  height: 30vh;
}

.title-minimum > #title:hover {
  cursor: pointer;
}
